<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.uem.david.samuel.nacho.yepnsd">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="es.uem.david.samuel.nacho.yepnsd.permission.C2D_MESSAGE" />

    <permission
        android:name="es.uem.david.samuel.nacho.yepnsd.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <application
        android:name=".YepApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <service android:name="com.parse.PushService" />

        <meta-data
            android:name="com.parse.push.notification_icon"
            android:resource="@drawable/ic_stat_yep" />

        <receiver android:name="com.parse.ParseBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!--
                  IMPORTANT: Change "com.parse.starter" to match your app's package name.
                -->
                <category android:name="es.uem.david.samuel.nacho.yepnsd" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.SignUpActivity"
            android:label="@string/title_activity_activity_sign_up"
            android:parentActivityName=".ui.activities.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.MainActivityTabbed"
            android:label="@string/title_activity_main_activity__tab"
            android:logo="@drawable/ic_launcher">
            <intent-filter>

                <!--
                Este intent-filter con action.MAIN y con category.LAUNCHER
                indica que esta es la actividad que se lanza cuando ejecutas
                la aplicación.
                -->
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.EditFriendsActivity"
            android:label="@string/title_activity_edit_friends"
            android:parentActivityName=".ui.activities.MainActivityTabbed"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.ViewImageActivity"
            android:label="@string/title_activity_image_view"
            android:parentActivityName=".ui.activities.MainActivityTabbed"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.RecipientsActivity"
            android:label="@string/title_activity_recipients"
            android:parentActivityName=".ui.activities.MainActivityTabbed" />
    </application>

</manifest>
